body { 
    font-family: Arial, sans-serif; 
    margin: 20px;
 }

/* 메인 컨테이너 */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    display: none;
    background-color: blue;
}

/* 썸네일 리스트 (초기에는 가로 정렬) */
.thumbnail-container {
    display: flex;
    gap: 40px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 200px;
    height: 200px;
    margin: 40px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid darkolivegreen;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 14px 26px rgba(0,0,0,1);
    border-radius: 10px;
    
}

.thumbnail:hover {
    border-color: #007bff;
}

/* 상세 내용 컨테이너 */
.detail-container {
    width: 400px;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    display: none;
}

/* 세로 정렬될 썸네일들 */
.vertical-thumbnails {
    display: none;
    flex-direction: column;
    gap: 10px;
}