@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Dongle&family=Gasoek+One&family=Gowun+Dodum&family=Gugi&family=Jua&family=Nanum+Brush+Script&display=swap');

body {
    margin: 0 auto !important;
    background-color: rgb(255, 255, 255) !important;
    font-family: Arial, sans-serif; 
 }

 /* 팀 이름 */
.title {
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Nanum Brush Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    /* background-image: url('./img/Header.png'); */
    background-color: #d5faed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    border-bottom: #28fcb2 double 2px;
}


/* 팀 이름 폰트 */
@keyframes titleshadow { /* 그림자 반짝반짝 */
    50% { text-shadow: 3px 3px 5px rgb(97, 96, 96);}
    100% { text-shadow: 0 0 0 transparent;}
}
.titleFont {
    margin : 50px auto auto 430px;
    animation: titleshadow 4s ease-in-out infinite;
}

/* 팀 목표 리스트 */
.list {
    margin-inline-start: 8px;
    margin-right: auto;
}

/*팀 목표*/


/* 메인 컨테이너 */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;

    gap: 20px;
    display: none;
    background-color: blue;
}

/* 썸네일 리스트 (초기에는 가로 정렬) */
.thumbnail-container {
    display: flex;
    gap: 40px;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

/* 썸네일 */
.thumbnail {
    width: 200px;
    height: 200px;
    margin: 40px;
    cursor: pointer;
    object-fit: cover;
    border: 3px solid #858080;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    box-shadow: 0 5px 8px rgba(0,0,0,.35);
    border-radius: 50%;
}

/* 썸네일에 마우스를 갖다 댈 때 액션 */
@keyframes thumbnailBorder{ /* 테두리 반짝반짝 */
    50% {border-color : #4d75cc}
    100% {border-color : #858080}
}
.thumbnail:hover {
    transform: translateY(-5px) scale(1.05) translateZ(0);
    animation: thumbnailBorder 1.5s ease-in-out infinite 0.5s;
    box-shadow: 0 14px 26px rgba(0,0,0,0.3);
}


/* 상세 내용 컨테이너 */
.detail-container {
    width: 600px;
    min-height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    margin: auto 10px auto 20px;
    background-color: darkkhaki;
    
}

/* 세로 정렬될 썸네일들 */
.vertical-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*팀 소개 말*/

@keyframes colorChange { /* 상시로 글씨 색이 바뀌어요 */
    0% { color: rgb(255, 255, 255); }
    25% { color: rgb(255, 239, 94); }
    50% { color: rgb(55, 148, 235); }
    75% { color: rgb(196, 153, 98); }
    100% { color: rgb(255, 255, 255); }
  }
  
.intro {
    margin: auto auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    animation: colorChange 5s infinite; /* 5초 동안 반복 */
}
footer{
    background-color: white;
    height: 200px;
}

