@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Dongle&family=Gasoek+One&family=Gowun+Dodum&family=Gugi&family=Jua&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Dongle&family=Gasoek+One&family=Gowun+Dodum&family=Gugi&family=Hi+Melody&family=Jua&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Dongle&family=Gasoek+One&family=Gothic+A1&family=Gowun+Dodum&family=Gugi&family=Hi+Melody&family=Jua&family=Nanum+Brush+Script&display=swap');

* {
    font-family: "Gowun Dodum", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #f0eeee;
    width: 100%;
    margin: auto;
    border: green 2px solid;
}

/* 소개 데이터 */
.myContent {
    display: flex;
    flex-direction: row;
    margin: 180px auto 0px auto;
    height: 350px;
    width: 700px;
    box-shadow: 1px 1px 8px rgb(214, 214, 214);
}

/* 멤버 상세정보 */

@keyframes slide-in-bottom{
    0%{transform:translateY(10px);opacity:0}
    100%{transform:translateY(0);opacity:1}
}

.memberinfo {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: auto;
    animation: slide-in-bottom 0.5s ease-in-out;
}

/*하고싶은 말 글자*/
.wantSay {
    margin-top: 120px;
}

/* 팀원 사진이 나오는 곳 */
.memberImage {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: auto 0 auto 30px;
    padding: 10px;
    border-radius: 12%;
    border: 2px double rgba(49, 40, 40, 0.35);
    outline: 2px double rgba(117, 115, 115, 0.35);
    outline-offset: -12px;
    background-color: rgb(231, 229, 229);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
    animation: slide-in-bottom 0.5s ease-in-out;
}

@keyframes topslide {
    0%{transform:translateY(0)}
    100%{transform:translateY(-5px)}
}

/* 댓글창 섹션 */
.comment-section {
    text-align: center;
    margin: 0 auto;
    height: 200px;
    width: 600px;
    animation: slide-in-bottom 0.5s ease-in-out;
}

/* 댓글 남기기 글자 */
.commentTitle {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .35);
}

/* 댓글 입력칸 */
.comment-div {
    background-color: rgb(214, 214, 214);
    border: 1px double slategray;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .35);
}

/* 댓글 작성 버튼 */
.commentBtn {
    width: 90px;
    height: 40px;
    margin-left:505px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .35);
}


/* 댓글 목록 */ 
.comments-container {
    display: flex;
    margin: 10px auto 0 auto;
    justify-content: center;
    height: 280px;
    width: 1200px;
    letter-spacing: 1px;
    animation: slide-in-bottom 0.5s ease-in-out;
}

/* 댓글 입력하는 곳 */
.comment-div {
    width: 590px;
    height: 40px;
}

/* 썸네일 리스트 (초기에는 가로 정렬) */
.thumbnail-container {
    margin-top: 30px;
    height: 300px;
    display: flex;
    gap: 40px;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

/* 썸네일 */
.thumbnail {
    width: 200px;
    height: 200px;
    margin: auto 50px auto 50px;
    cursor: pointer;
    object-fit: cover;
    border: 3px solid #858080;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .35);
    border-radius: 50%;
}

/* 썸네일에 마우스를 갖다 댈 때 액션 */
@keyframes thumbnailBorder {

    /* 테두리 반짝반짝 */
    50% {
        border-color: #4d75cc
    }

    100% {
        border-color: #858080
    }
}

.thumbnail:hover {
    transform: translateY(-5px) scale(1.05) translateZ(0);
    animation: thumbnailBorder 1.5s ease-in-out infinite 0.5s;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #c9c8c8;
    height: 200px;
}